.card{
    width: 340px;
    height: 340px;
    background: linear-gradient(#ffffff 0%, #000000 100%);
    border-radius: 10px;
    position: relative;
    margin-block: 30px ;
    overflow: hidden;
}
.card__title{
    color: white;
    font-size: 1.1rem;
    font-weight: 500;
    position: absolute;
    bottom: 0;
    padding-inline: 20px;
    width: 40%;
}
.card img{
    width: auto;
    height: 100%;
    opacity: 0.7;
}
@media screen and ( max-width: 375px){
    .card{
        width: 335px;
        height: 225px;
        margin-block: 10px;
    }
}