.footer{
    width: 100%;
    background-color: black;
    height: 209px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.footer__logo{
    object-fit: none;
    width: 150px;
    height: 50px;
}
.footer p{
    color: white;
    font-weight: 500;
}
@media screen and ( max-width: 375px){
    .footer__logo{
        width: 122px;
        height: 40px;

    }
    .footer p{
        font-size: 12px;
    }
}
