.gallery{
    background-color: #f6f6f6;
    width: 90%;
    margin:auto;
    display: flex;
    justify-content: space-evenly;
    border-radius: 25px;
    flex-wrap: wrap;
    margin-block: 10px;
    padding-block: 20px;

}
