.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: auto;
    margin-block: 20px;
    height: 100px;
}
.header__logo{
    width: 210px;
    height:68px;
}
.header__logo img{
    width: 100%;
    
}
.header__nav{
    display: flex;
    justify-content: space-around;
    gap: 50px;
}
.header__nav a{
    text-decoration: underline ;
    color: #ff6060;
    font-size: 24px;
    font-weight: 500;
    
}
.header__nav a:not(.active){
    text-decoration: none;
}

@media screen and ( max-width: 768px){
    .header{
        height: 47px;
    }
    .header__logo{
        width: 145px;
        height: 46px;
    }
    .header__nav{
        gap: 15px;
    }
    .header__nav a{
        font-size: 12px;
        text-transform: uppercase;
    }
}